* {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}

.main {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.head {
  margin-top: 60px;
  text-align: center;
}
.head {
  font-size: 2rem;
}
.bottom {
  display: flex;
  width: 100%;
  height: 120px;
}
.bottom > div {
  width: 100px;
  height: 120px;
  flex: 1;
}
.pad1 {
  background-color:#e23e57;
}
.pad2 {
  background-color:#08d9d6;
}
.pad3 {
  background-color:#f9ed69;
}
.pad4 {
  background-color:#30e3ca;
}
.pad5 {
  background-color:#3f72af;
}
.pad6 {
  background-color:#6639a6 ;
}

.ball > div{
  position: absolute;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  bottom: 20%;
  left: 30%;
  z-index: -1;
}
@keyframes jump {
  0%{
left: 10%;
bottom: 10%;
  }
  50%{
left: 50%;
bottom: 70%;
  }
  100%{
left: 85% ;
bottom: 10%;

  }
}
